.botao {
  display: block;
  margin: 15px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

.mensagem {
  padding: 0px 30px;
  text-align: center;
  font-size: 24px;
}

.caixatexto {
  height: 30px;
  display: flex;
  background-color: #ccc;
  margin: 5px 20px;
  padding: 10px;
}

.caixatexto input[type=text] {
  flex: 1;
  border: none;
  background: transparent;
  height: 30px;
  font-size: 20px;
}

.caixatexto button[type=submit] {
  border: none;
  background: transparent;
}

.card {
  margin: 5px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px black;
  padding: 10px;
}

.salvar {
  display: none;
}


@media screen and (min-width: 480px) {
  .conteudo {
    max-width: 780px;
    margin: 0px auto;
  }
}