.sair {
    margin: 5px 155px;
    color: #946260;
    font-family: Roboto, 'Segoe UI';
    }



@media screen and (min-width: 480px) {
    .sair {
    margin: 5px 655px;
    color: #946260;
    font-family: Roboto, 'Segoe UI';
    }
}