.botao {
  display: block;
  margin: 15px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fddf19;
  font-size: 18px;
}

.mensagem {
  padding: 0px 30px;
  text-align: center;
  font-size: 24px;
}

.caixatexto {
  height: 30px;
  display: flex;
  background-color: #ccc;
  margin: 5px 20px;
  padding: 10px;
}

.caixatexto input[type=text] {
  flex: 1;
  border: none;
  background: transparent;
  height: 30px;
  font-size: 20px;
}

.caixatexto button[type=submit] {
  border: none;
  background: transparent;
}

.card {
  margin: 10px 20px;
  background-color: #f9f2ec;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #BE9B7B;
  padding: 10px;
}

.salvar {
  display: none;
}

h3 {
  margin-top: -10px;
  text-align: center;
  color: black;
}

.precisaseclasse {
  background-color: #e6ccb3;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 10px;
}



@media screen and (min-width: 480px) {
  .conteudo {
    max-width: 780px;
    margin: 0px auto;
  }

h3 {
    text-align: center;
    color: black;
  }

  .precisaseclasse {
    background-color: #e6ccb3;
  }

}