@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body{
    font-family: Roboto, sans-serif;
  width: 100%;
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
}

body, p, input, textarea, a {
  font-family: Roboto, Arial, sans-serif;
}

.bg1 {
  background-color: #854442;
}

.bg2 {
  background-color: #FFF4E6;
}

.bg3 {
  background-color: #3C2F2F;
}

.bg4 {
  background-color: #BE9B7B;
}


.titulo {
  color: #fff;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 28px;
}

.mensagem {
  padding: 0px 30px;
  text-align: center;
  font-size: 24px;
}

.caixatexto {
  height: 30px;
  display: flex;
  background-color: #ccc;
  margin: 5px 20px;
  padding: 10px;
  border-radius: 10px;
}

.caixatexto input[type=text] {
  flex: 1;
  border: none;
  background: transparent;
  height: 30px;
  font-size: 20px;
}

.caixatexto button[type=submit] {
  border: none;
  background: transparent;
}

.botao {
  display: block;
  margin: 15px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

.caixanome {
    width: 300px;
    height: 20px;
    display: flex;
    background-color: #ccc;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.caixaemail {
    width: 300px;
    height: 20px;
    display: flex;
    background-color: #ccc;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.caixasenha {
    width: 300px;
    height: 20px;
    display: flex;
    background-color: #ccc;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

p {
    margin: 10px 20px;
}

.tema {
    text-align: center;
}

.textosenha {
  font-size: 12px;
  color: #BE9B7B;
}

.tituloconta {
  margin-top: 20px;
  font-size: 35px;
}

.temasub {
  margin-top: -30px;
  color: #BE9B7B;
}

.botaoconfirma {
  display: block;
  margin: 15px auto;
  margin-top: 25px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #3C2F2F;
}

.textodownbotao {
  margin: 15px 35px;
  font-size: 12px;
  color: #BE9B7B;
  text-align: center;
}

.linksdownbotao {
  font-size: 12px;
  color: #BE9B7B;
}

.pjatemconta {
  margin: 15px 35px;
  margin-top: 50px;
  font-size: 12px;
  color: #BE9B7B;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .caixatexto, .botao { 
    max-width: 400px;
    margin: 15px auto;
   }
}

@media screen and (min-width: 800px) {
  .formulario {
   margin-left: 30%;
  }

  .caixanome {
    width: 500px;
  }

  .caixaemail {
    width: 500px;
  }

  .caixasenha {
    width: 500px;
  }

  .botaoconfirma {
    margin-top: 50px;
  }

  .textodownbotao {
    margin: 15px 500px;
  }
}