@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,body{
  width: 100%;
  height:100%;
}

header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

body, p, input, textarea, a {
  font-family: Roboto, Arial, sans-serif;
}

.bg1 {
  background-color: #854442;
}

.bg2 {
  background-color: #FFF4E6;
}

.bg3 {
  background-color: #3C2F2F;
}

.bg4 {
  background-color: #BE9B7B;
}

.armario {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gaveta {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #fff;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 28px;
}

.mensagem {
  padding: 0px 30px;
  text-align: center;
  font-size: 24px;
}

.caixatexto {
  height: 30px;
  display: flex;
  background-color: #ccc;
  margin: 5px 20px;
  padding: 10px;
}

.caixatexto input[type=text] {
  flex: 1;
  border: none;
  background: transparent;
  height: 30px;
  font-size: 20px;
}

.caixatexto button[type=submit] {
  border: none;
  background: transparent;
}

.botao {
  display: block;
  margin: 15px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

.card {
  margin: 5px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px black;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .caixatexto, .botao { 
    max-width: 400px;
    margin: 15px auto;
   }
}